.OrderOnline__container {
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: $container-padding;
  padding-right: $container-padding;
  height: 100%;
}

.OrderOnline__heading {
  text-align: center;
  flex-basis: 100%;
}

.OrderOnline__image {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.OrderOnline__pizza-img {
  width: 100%;
}

.OrderOnline__form {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.OrderOnline__form__select {
  font-size: $l-font-size;
  padding: 10px;
  cursor: pointer;
}

.OrderOnline__form__label {
  margin-top: 20px;
  font-size: $l-font-size;
  padding: 10px;
}

.OrderOnline__subtotal {
  font-size: $l-font-size;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 680px) {
  .OrderOnline__image,
  .OrderOnline__form {
    width: 50%;
  }
}