.Home__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: $container-padding;
  padding-right: $container-padding;
  height: 100%;
}

.Home__info {
  background-image: require('../../images/pizza_bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
  height: 600px;
  flex-basis: 100%;
  margin-bottom: 50px;
}

.Home__info h2 {
  font-size: $l-font-size;
  line-height: 1;
}

.Home__info h1 {
  font-family: $header-font;
  font-size: $xl-font-size;
  font-weight: normal;
  letter-spacing: 3px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-shadow: 2px 2px $primary-color;
}

.Home__info--overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 600px;
}

.Home__info--blurb {
  max-width: $container-width;
  font-size: $m-font-size;
  margin: 0 auto;
  padding: 60px 50px;
  line-height: 1.5;
  text-align: center;
}

.Home__info--blurb p {
  margin-bottom: 1.2rem;
}

.Home__buttons {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.Home__rest-features {
  max-width: $container-width;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 30px auto;
}

.Home__rest-features__list-item {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0px 50px;
}

.Home__rest-features__icons {
  color: $primary-color;
  font-size: $fa-font-size;
  margin-bottom: 30px;
}

.Home__rest-features__text {
  text-align: center;
  font-size: $l-font-size;
}

@media (min-width: 800px) {
  .Home__info {
    font-size: $l-font-size;
    height: 700px;
  }

  .Home__info h1 {
    font-size: $xxxl-font-size;
  }
  .Home__info--overlay {
    height: 700px;
  }

  .Home__info--blurb {
    font-size: $l-font-size;
    padding-top: 100px;
  }

  .Home__buttons {
    width: 50%;
    margin: 30px auto;
  }

  .Home__rest-features__list-item {
    flex: 1 1 0;
  }
}
