.Home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.Home__heading {
  align-self: center;
}

.Home__info {
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
  padding: 15px 15px;
  margin: 20px 0;
  max-width: 800px;
  font-size: $m-font-size;
}

.Home__info p {
  line-height: 1.5;
}

.Home__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Home__rest-features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.Home__rest-features__list-item {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 250px;
}

.Home__rest-features__icons {
  background-color: $primary-color;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.Home__rest-features__text {
  text-align: center;
  font-size: $m-font-size;
}

@media (min-width: 800px) {
  .Home__info {
    font-size: $l-font-size;
  }

  .Home__buttons {
    width: 50%;
    margin: 0 auto;
  }

  .Home__rest-features__list-item {
    flex: 1 1 0;
  }

  // .Home__rest-features__icons {
  //   width: 100px;
  //   height: 100px;
  // }
}

@media (min-width: 1100px) {
  .Home__buttons {
    width: 25%;
    margin: 0 auto;
  }

  // .Home__rest-features__icons {
  //   width: 150px;
  //   height: 150px;
  // }
}
