.DashboardNav__container {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  order: 3;
  padding-left: 0;
}

.DashboardNav__item {
  border-top: 1px solid $primary-font-color;
  padding: 10px 0px 10px 10px;
}

.DashboardNav__link {
  text-decoration: none;
  color: $primary-font-color;
}

.Header__container {
  background-color: $primary-color;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  font-size: $l-font-size;
  padding-left: $container-padding;
  padding-right: $container-padding;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Header__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Header__home-link {
  flex: 1 0 40%;
  font-family: $header-font;
  font-size: $xl-font-size;
  letter-spacing: 1px;
  margin-right: auto;
  order: 1;
}

.Header__menu-toggle {
  background-color: $primary-color;
  border: none;
  color: $primary-font-color;
  flex: 1 0 40%;
  font-size: $m-font-size;
  text-align: right;
  justify-self: end;
  outline: none;
  order: 2;
}

.Header__nav {
  display: flex;
  flex-flow: row wrap;
}

.Header--top-border {
  border-top: 3px solid $primary-font-color;
  padding-top: 10px;
}

.Header__sign-in {
}

.Header__sign-in-forms__container {
  order: 3;
}

.Header__sign-in__heading {
  font-size: $l-font-size;
  margin: 20px 0 0 0;
}

.Header__sign-in__input {
  font-size: $l-font-size;
  padding: $text-input-padding;
  outline: none;
}

.Header__sign-in__label {
  margin-top: $input-label-margin-top;
}

.Header__sign-in__submit {
  margin-top: 10px;
}


@media only screen and (min-width: 800px) {

    .DashboardNav__container {
      flex-direction: row;
      flex: 1 0 45%;
      justify-content: space-between;
      margin-top: 0;
      margin-right: auto;
      order: 2;
    }

    .DashboardNav__item {
      border: none;
    }

    .Header__menu-toggle {
      flex: 1 0 20%;
      order: 3;
      font-size: $l-font-size;
    }

    .Header-nav {
      align-items: center;
    }

    .Header__home-link {
      flex: 1 0 25%;
      align-self: center;
    }

   .Header__sign-in-forms__container {
     background-color: $primary-color;
     flex: 1 0 33%;
     padding: 20px;
     position: absolute;
     right: 0;
     top: 57px;
     width: 400px;
   }
}