html,
body,
#root {
  height: 100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: $l-font-size;
  background-color: $primary-bg-color;
  color: $primary-font-color;
}

.btn {
  background-color: $accent-color;
  border: none;
  cursor: pointer;
  font-size: $l-font-size;
  outline: none;
  padding: 15px;
  transition: ease all 0.3s;
  width: 100%;
}

.btn:hover {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
}

.error-text {
  color: $primary-color;
  font-size: $l-font-size;
}

.text-center {
  text-align: center;
}

.disabled {
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
}

.form-input {
  font-size: $l-font-size;
  padding: $text-input-padding;
}

.form-label {
  margin-top: $input-label-margin-top;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}

.padding-top-60px {
  padding-top: 100px;
}

.selected {
  transition: background-color 0.3s ease-in;
  background-color: $accent-color-dark;
}

.link {
  text-decoration: none;
  color: $primary-font-color;
}

.space {
  height: 30px;
}
