//COLORS
$primary-bg-color: hsl(0, 0%, 90%);
$secondary-bg-color: hsl(0, 0%, 25%);

$overlay-bg-color: hsla(0, 0%, 0%, 0.8);

$accent-color:hsl(49, 98%, 60%);
$accent-color-dark: hsl(49, 98%, 40%);
$primary-color:  hsl(14, 91%, 54%);

$primary-font-color: hsl(0, 0%, 15%);
$secondary-font-color: hsl(0, 0%, 90%);


$button-success-color: hsl(88, 50%, 53%);
$button-warn-color: 	hsl(0, 66%, 77%);


//FONT SIZES
$s-font-size: 1.2rem;
$m-font-size: 1.6rem;
$l-font-size: 2.4rem;
$xl-font-size: 3.2rem;
$xxl-font-size: 4.8rem;

//MISC
$container-padding: 30px;
$text-input-padding: 10px;
$input-label-margin-top: 20px;