.OrderStatus__container {
  max-width: $container-width;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: $container-padding;
  padding-right: $container-padding;
  height: 100%;
}

.OrderStatus__header,
.OrderStatus__order-info {
  text-align: center;
  flex-basis: 100%;
}

.OrderStatus__header {
  margin-bottom: 30px;
}

.OrderStatus__card {
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 50px;
  width: 100%;
}

.OrderStatus__left,
.OrderStatus__right {
  line-height: 1.3;
  padding: 30px;
  text-align: center;
  width: 50%;
}

.OrderStatus__left p,
.OrderStatus__right p {
  margin-bottom: 1.8rem;
}

.OrderStatus__pizza-img {
  width: 100%;
  max-width: 250px;
}

@media only screen and (max-width: 720px) {
  .OrderStatus__card {
    font-size: $m-font-size;
    padding: 10px;
  }
  .OrderStatus__left,
  .OrderStatus__right {
    width: 100%;
  }
}