.StoreFront__container {
  width: 95%;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: $container-padding;
  padding-right: $container-padding;
  height: 100%;
}

.StoreFront__secondary-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.StoreFront__restaurant-info {
  margin-left: 30px;
}

.StoreFront__restaurant-image {
  width: 100%;
  // margin-bottom: 50px;
}

.StoreFront__order-button {
  margin-top: 20px;
}

.StoreFront__menu {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.StoreFront__menu-image-container {
  text-align: center;
  margin-bottom: 30px;
}

.StoreFront__menu-image {
  padding: 30px;
  width: 300px;
}

@media (min-width: 860px) {
  .StoreFront__restaurant-image {
    width: 500px;
  }
}
